#location-input-container {
  align-content: center;
}

#location-input {
  width: 100%;
  border-radius: 5px;
  position: relative;
  padding: 4px;
}

#location-input:hover {
  transition: 0.15s;
  box-shadow: 1px 1px 3px;
}

#location-input:focus {
  transition: 0.15s;
  background-color: rgb(247, 247, 247);
  box-shadow: none;
}

#search {
  position: absolute;
  width: 255px;
  height: 21px;
}

#search-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 17px;
  width: 17px;
}